In [1]:
'''
오피스텔 : rletTypeCd=A02
매매 : tradeTypeCd=A1
Highest Year of School Completed : hscpTypeCd=A02
법정동 코드 API http://juso.seoul.go.kr/openapi/helps/SearchApi_jibun.aspx
https://www.code.go.kr/ 
1168010300 개포동
1168010800 논현동
1168010600 대치동
1168011800 도곡동
1168010500 삼성동
1168011100 세곡동
1168011500 수서동
1168010700 신사동
'''

'\n오피스텔 : rletTypeCd=A02\n매매 : tradeTypeCd=A1\nHighest Year of School Completed : hscpTypeCd=A02\n법정동 코드 API http://juso.seoul.go.kr/openapi/helps/SearchApi_jibun.aspx\nhttps://www.code.go.kr/ \n1168010300 개포동\n1168010800 논현동\n1168010600 대치동\n1168011800 도곡동\n1168010500 삼성동\n1168011100 세곡동\n1168011500 수서동\n1168010700 신사동\n'

In [2]:
from urllib import request as rq
from bs4 import BeautifulSoup as bs

# gangnam_dict = {"개포동":1168010300, "논현동":1168010800}
# village = input("동을 입력해주세요.")
# village_code = gangnam_dict[village]

root_url = "https://land.naver.com/"
searching_url_list = []

# basic_url = 'https://land.naver.com/article/articleList.nhn?rletTypeCd=A02&tradeTypeCd=A1&hscpTypeCd=A02&cortarNo=%d'%village_code
basic_url = 'https://land.naver.com/article/articleList.nhn?rletTypeCd=A02&tradeTypeCd=A1&hscpTypeCd=A02&cortarNo=1168010300'
basic_html = rq.urlopen(basic_url).read()
basic_soup = bs(basic_html, "html.parser")
basic_elems = basic_soup.find_all("span", {"class":"btn_naverlink"})
for i in range(len(basic_elems)):
    estate_url = root_url + basic_elems[i].find("a").attrs["href"]
    searching_url_list.append(estate_url)
    
searching_url_list

['https://land.naver.com//article/articleDetailInfo.nhn?atclNo=1818572578&atclRletTypeCd=A02&rletTypeCd=A02&tradeTypeCd=A1',
 'https://land.naver.com//article/articleDetailInfo.nhn?atclNo=1818617671&atclRletTypeCd=A02&rletTypeCd=A02&tradeTypeCd=A1',
 'https://land.naver.com//article/articleDetailInfo.nhn?atclNo=1817912362&atclRletTypeCd=A02&rletTypeCd=A02&tradeTypeCd=A1',
 'https://land.naver.com//article/articleDetailInfo.nhn?atclNo=1817912772&atclRletTypeCd=A02&rletTypeCd=A02&tradeTypeCd=A1',
 'https://land.naver.com//article/articleDetailInfo.nhn?atclNo=1817769525&atclRletTypeCd=A02&rletTypeCd=A02&tradeTypeCd=A1',
 'https://land.naver.com//article/articleDetailInfo.nhn?atclNo=1817012434&atclRletTypeCd=A02&rletTypeCd=A02&tradeTypeCd=A1',
 'https://land.naver.com//article/articleDetailInfo.nhn?atclNo=1818863653&atclRletTypeCd=A02&rletTypeCd=A02&tradeTypeCd=A1']

In [3]:
searching_url = searching_url_list[0]
searching_html = rq.urlopen(searching_url).read()
searching_soup = bs(searching_html, "html.parser")

# get price
rate_basic = searching_soup.find_all("p", {"class":"rate_info"})
price = rate_basic[1].find_all("span")[0].text
price = int(price.split("만")[0].replace(",",""))
price

20000

In [4]:
# get contract area
areas = ""
area = rate_basic[0].find_all("span")
for i in range(len(area)):
    areas += area[i].text
    
areas_list = areas.split('/')
contract_area = float(areas_list[0])

# get exclusive area
exclusive_area = float(areas_list[1].split('㎡')[0])

print(contract_area, exclusive_area)

55.2 32.44

In [14]:
# specific floor
summary_basic = searching_soup.find("div", {"class":"view_info"}).find_all("div", {"class":"inner"})
floors = summary_basic[1].text.split("/")
specific_floor = int(floors[0])

# total floor
total_floor = int(floors[1].split("층")[0])

print(specific_floor, total_floor)

6 26

In [15]:
# rooms
room_and_bath = summary_basic[3].text.split("/")
rooms = int(room_and_bath[0])

# baths
baths = int(room_and_bath[1].split('개')[0])

print(rooms, baths)

1 1

In [24]:
# loan amount
try:
    loan_amount = int(summary_basic[5].text.split("만")[0])
except ValueError as e:
    loan_amount = 0
    
print(loan_amount)

0

In [28]:
# moveable
try:
    moveable = summary_basic[7].text
except ValueError as e:
    moveable = "-"
    
print(moveable)

즉시입주

In [31]:
# administration cost
administration_cost = int(summary_basic[9].text.split("원")[0].strip().replace(",",""))
print(administration_cost)

100000

In [13]:
summary_basic

[<div class="inner">해당층/총층</div>,
 <div class="inner ">6/26층</div>,
 <div class="inner">방수/욕실수</div>,
 <div class="inner ">1/1개</div>,
 <div class="inner">융자금</div>,
 <div class="inner "><strong>-</strong> 만원</div>,
 <div class="inner">입주가능일</div>,
 <div class="inner ">즉시입주</div>,
 <div class="inner">월관리비</div>,
 <div class="inner "><strong>100,000</strong> 원</div>,
 <div class="inner">기보증금/월세</div>,
 <div class="inner "><strong>500 / 65</strong> 만원</div>,
 <div class="inner">특징</div>,
 <div class="inner ">탁트인공원전망 오래월세중 수익좋음</div>,
 <div class="inner">중개업소</div>,
 <div class="inner inner_ly">나산공인중개사사무소 <strong class="tx">02-3413-7700</strong> <span class="bar">l</span> <a class="btn_site NPI=a:adrs" href="#">소재지 <span class="ic"></span></a>대표: 변동주 <strong class="tx">010-6207-3097 </strong></div>]